<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">

  <title>THE COLOUR CARD</title>

  <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed:700|Roboto+Mono:500|Roboto:300,700" rel="stylesheet">

  <script src="./app.js"></script>
  <script src="https://unpkg.com/vue"></script>
</head>
<body>

  <header class="header-container">
    <h1 class="header-branding">THE COLOUR CARD</h1>
    <button class="header-btn menu-btn"></button>
  </header> <!-- /.header-container -->

  <div class="main" id="main">
    <div class="panel panel-1" v-bind:style="display(1)">
      <h4>To start, please submit your name...</h4>

      <!-- <form> to avoid submitting page -->
        <label>Name:</label>
        <input v-model="name" type="name" name="name" class="input" placeholder="Enter your name...">
        <button v-on:click="next_panel" class="password-btn">Next</button>
      <!-- </form> -->
    </div> <!-- /.panel-2 -->

    <div class="panel panel-2" v-bind:style="display(2)">
      <!-- <form> to avoid submitting page -->
        <h4>Next enter a memorable password, make sure it's something you'll never forget...</h4>

        <label>Password:</label>
        <button v-if="toggle_mode" v-on:click="toggle" class="btn">Show</button>
        <button v-if="!toggle_mode" v-on:click="toggle" class="btn">Hide</button>
        <input v-if="toggle_mode" v-model="password" type="password" name="password" class="password-input" placeholder="Enter a memorable password...">
        <input v-if="!toggle_mode" v-model="password" type="name" name="password" class="password-input" placeholder="Enter a memorable password...">
        <button v-on:click="next_panel" class="password-btn">Next</button>
      <!-- </form> -->
    </div> <!-- /.panel-3 -->

    <div class="panel panel-3" v-bind:style="display(3)">
      <!-- <form> to avoid submitting page -->
        <h4>PLease confirm by re-typing your password...</h4>

        <label>Password confirmation:</label>
        <button v-if="toggle_mode" v-on:click="toggle" class="btn">Show</button>
        <button v-if="!toggle_mode" v-on:click="toggle" class="btn">Hide</button>
        <input v-if="toggle_mode" v-model="password_confirmation" type="password" name="password" class="password-input" placeholder="Enter a memorable password...">
        <input v-if="!toggle_mode" v-model="password_confirmation" type="name" name="password" class="password-input" placeholder="Enter a memorable password...">
        <button v-on:click="order" class="password-btn">Go</button>
      <!-- </form> -->
    </div> <!-- /.panel-3 -->
    <div class="panel panel-4" v-bind:style="display(4)">

      <!-- <form> to avoid submitting page -->
        <img class="image-large" src="assets/card-mini-success.svg">
        <h4>Thank you for your order!</h4>
        <p>Your card is being printed as we speak! Soon you'll have your very own Color Card with the following information...</p>
        <label>name:</label>
        <span class="key-display">{{name}}</span>

        <label>public key:</label>
        <span class="key-display">{{pubkey}}</span>

        <label>Short code:</label>
        <span class="key-display">{{salt}}</span>
        <!-- if I get rid of input, it does not hide for some reason. -->
        <input type="hidden">
        <div class="cta-btn-container">
          <button v-on:click="redirect('index.html')" class="cta-btn">Start again ➞</button>
        </div>
      <!-- </form> -->
    </div> <!-- /.panel-3 -->
  </div> <!-- /.main -->

  <footer id="footer" class="footer-container">
    <ul class="pagination-container">
      <li class="pagination-item" v-bind:class="isActive(1)"></li>
      <li class="pagination-item" v-bind:class="isActive(2)"></li>
      <li class="pagination-item" v-bind:class="isActive(3)"></li>
      <li class="pagination-item" v-bind:class="isActive(4)"></li>
    </ul>
  </footer> <!-- /.footer-container -->

</body>
</html>
