button {
  font-size: $base-font-size;
  color: $tcc-text;
  font-weight: 700;
  background-color: $paper;
  padding: 1.7rem 3.4rem 1.8rem;
  box-shadow: inset 0 0 0 0.5rem $tcc-primary;
  cursor: pointer;
  outline: none;
  border: 0;
  transition: color .25s, box-shadow .25s;

  &:hover,
  &:focus {
    box-shadow: inset 0 0 0 .8rem darken($tcc-primary, 7);
    color: darken($tcc-text, 7);
  }
}