button {
  font-size: $base-font-size;
  color: $tcc-text;
  font-weight: 700;
  background-color: $paper;
  padding: 1.7rem 3.4rem 1.8rem;
  box-shadow: inset 0 0 0 0.5rem $tcc-primary;
  cursor: pointer;
  outline: none;
  border: 0;
  transition: color .25s, box-shadow .25s;

  &:hover,
  &:focus {
    box-shadow: inset 0 0 0 .8rem darken($tcc-primary, 7);
    color: darken($tcc-text, 7);
  }
}

.pass-btn {
  position: absolute;
  right: 4rem;
  bottom: 26rem;
  box-shadow: none;
  background: $tcc-primary;
  height: 7.8rem;
  width: 7.8rem;
  transition: background-color .25s;
  background-image: url('/assets/si-glyph-view.svg');
  background-size: 80%;
  background-repeat: no-repeat;
  background-position: 42.5% 50%;

  &:hover,
  &:focus {
    box-shadow: none;
    background-color: darken($tcc-primary, 7);
  }
}