.footer-container {
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 2.5rem 0 5rem;
  border-top: .25rem solid lighten($border, 5);
  background-color: $paper;
}

.pagination-container {
  @include clearfix;

  padding: 0;
  margin: 0;
  list-style: none;
  display: inline-block;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.pagination-item {
  border: .25rem $tcc-primary solid;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  float: left;
  margin-left: 3rem;
  position: relative;
  opacity: .35;
  transition: opacity .35s;

  &::before,
  &::after {
    content: "";
    position: absolute;
    background-color: $tcc-primary;
  }

  &::before {
    height: .25rem;
    width: 3.25rem;
    top: (2.5rem / 2 - .25rem / 2);
    left: -3.25rem;
  }

  &::after {
    border-radius: 50%;
    height: 1rem;
    width: 1rem;
    top: 50%;
    left: 50%;
    margin: -0.5rem;
    transition: all .35s;
  }

  &:first-child {
    margin-left: 0;

    &::before {
      display: none;
    }
  }

  &.active {
    opacity: 1;

    &::after {
      height: 1.75rem;
      width: 1.75rem;
      margin: -0.875rem;
    }
  }
}
