.header-container {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: $tcc-primary;
  color: $paper;
  box-shadow: 0 1rem 0 0 rgba($paper, .65);
}

.header-branding {
  font-family: 'roboto condensed';
  display: inline-block;
  font-size: 4rem;
  line-height: 0.1;
  margin-bottom: 0;
  position: relative;
  top: 0.5rem;
  padding-left: 3.2rem;
}

.header-btn {
  appearance: none;
  border: 0;
  box-shadow: none;
  background-color: $tcc-primary;
  transition: background-color .25s;

  &:hover,
  &:focus {
    background-color: darken($tcc-primary, 10);
    box-shadow: none;
  }
}

.menu-btn {
  // background-image: url('assets/menu-btn.svg');
  background-repeat: no-repeat;
  background-size: 88px 64px;
  background-position: 1rem center;
  height: 6.2rem;
  float: right;
  width: 9.6rem;
}
