.intro-logo {
  background-color: $tcc-primary;
  box-shadow: inset 0 0 0 4px white;
  display: inline-block;
  margin: 8rem 10% 0;
  width: 80%;
}

.intro-text {
  margin-top: 4rem;
}

.cta-btn-container {
  text-align: right;
}

.cta-btn {
  margin-top: 2rem;
}