.key-display {
  padding: 2.1rem 2.4rem 2.2rem;
  font-size: $base-font-size + .5rem;
  box-shadow: inset 0 0 0 0.5rem $tcc-primary;
  color: $tcc-primary;
  background-color: rgba($tcc-primary, 0.2);
  word-wrap: break-word;
  display: block;
  font-family: 'Roboto Mono';
  font-weight: 500;
  margin: .5rem 0 3rem;
}