body {
  color: $ink;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  line-height: 1.4;
  font-size: $base-font-size;
}

b {
  color: $tcc-text;
  font-weight: 700;
}

h4 {
  color: $tcc-primary;
  margin: 0 0 1.25rem;
}

.linky {
  color: $tcc-primary;
  font-weight: 700;
  float: right;
  position: relative;
  top: 1rem;
}